@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

html, body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  height: 100%;
  background-color: white;

}

.dashboard-container {
  display: flex;
  flex-direction: column;
  height: 100vh; 
}

.dashboard-page{
    display: flex;
    flex: 1;
}

.dashboard-Sidebar{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 100%;
    border-right: 1px solid black;
    gap: 10px;
    padding-top: 30px;
}

.dashboard-maincontent{
    flex: 1;
    padding: 10px 50px;
    display: flex;
    flex-direction: column;
}

.dashboard-Sidebar .dashboard-b{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
    background-color: white;


}

.dashboard-Sidebar .dashboard-b .dashboard-dicon{
    width: 20px;
    margin-left: 10px;
}

.dashboard-Sidebar .dashboard-dbutton{
    display: flex;
    flex-direction: row;
    width: 90%;
    padding: 5px;
    gap: 20px;
    font-size: 15px;
    font-family: 'Poppins';
    margin: 0 20px;
    border-radius: 5px;
    color: gray;
    border: 1px solid white;
    cursor: pointer;
    background-color: white;
}

.dashboard-Sidebar .dashboard-dbutton:focus{
    background-color: black;
    color: white;
}

