@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

html, body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  height: 100%;
}

.report-page {
  margin: 0;
  padding: 15px 20px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow-y: auto;  
  overflow-x: hidden;

  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */

}

.report-page::-webkit-scrollbar {
  display: none;
}

.report-head-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 20px;
}

.report-download {
  background: #2563eb ;
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
  top: 10px;
  width: 200px;
  height: 40px;
}

.report-options {
  margin-top: 20px;
  width: 250px;
  height: 40px;
  border-radius: 5px;
  padding: 5px;
}

.report-cont1, .report-cont2 {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap; 
  height: auto;
  
}

.report-card, .report-card2 {
  border: 1px solid gray;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  font-family: 'Poppins';
  flex: 1;
  min-height: 200px;
  background-color: white;
  border-top: 20px solid blue;
}

.report-card:first-child {
  border-top: 20px solid #2563EB;
}

.report-card:nth-child(2) {
  border-top: 20px solid rgb(222, 222, 38)
}

.report-card:nth-child(3) {
  border-top: 20px solid #3B7542;
}

.report-card:nth-child(4) {
  border-top: 20px solid #1c0d8c;
}

.report-card2:first-child {
  border-top: 20px solid #22BB76; 
}  

.report-card2:nth-child(2) {
  border-top: 20px solid #22BB76;
}
.report-card {
  padding: 10px;
  width: 18%;
}

.report-card2 {
  padding: 30px;
  height: auto;
  width: 30%;
  display: flex;
  flex-direction: column;
}

.report-title {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  margin-top: 30px;
  
}

.report-title h1 {
  font-weight: 500;
  font-size: 20px;
}

.report-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  font-family: 'Poppins';
  font-size: 13px;
}

.report-residents {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 40px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.report-residents-container {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}

.report-title .report-icon {
  width: 30px;
}

.report-date {
  display: flex;
  flex-direction: row;
  font-size: 15px;
  gap: 10px;
}

.report-date .report-icon {
  width: 20px;
}

.report-title2 {
  display: flex;
  flex-direction: row;
  font-weight: 600;
  font-size: 30px;
}

.report-desc2 {
  margin-bottom: 20px;
}

.report-progress-bar {
  width: 100%;
  height: 20px;
  background-color: #e0e0e0;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 10px;
}

.report-progress-fill {
  height: 100%;
  background-color: #4caf50;
  width: 0%;
  border-radius: 10px 0 0 10px;
  transition: width 1.5s ease-in-out;
}

.report-calendar {
  width: 30px;
  height: 30px;
  display: flex;
  position: relative;
  top: 8px;
}

.report-report-info {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.report-card2 .report-info p {
  margin-top: 5px;
  font-size: 15px;
}

.report-space {
  margin-bottom: 20px;
}

.report-comp{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.report-comp-item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 14px;
}

.report-card2 .report-info-header {
  display:flex;
  flex-direction: row;
  gap: 5px;
}

.report-card .report-info-header {
  display:flex;
  flex-direction: row;
  gap: 5px;
  object-fit: contain;
}

.report-card img {
  height: 30px;
  width: 30px;
  object-fit: contain;
}

.ResRate {
  height: 35px;
  width: 35px;
  margin-right: 5px;
}

.report-categories {
  width: 30px;
  height: 30px;
  margin-top: 7px;
  margin-right: 2px;
}

.cert-type {
  width: 30px;
  height: 30px;
  margin-top: 9px;
  margin-right: 2px;

}
